.profile__info {
  display: flex;
  /* grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 16px 18px; */
  flex-direction: column;
  position: absolute;
  left: 150px;
  top: 62px;
  max-width: 336px;
}

@media screen and (max-width: 670px) {
  .profile__info {
    position: static;
    margin-top: 26px;

  } 
}